<main>
  <.alert with_icon color="info" role="alert"><%= get_flash(@conn, :info) %></.alert>
  <.alert with_icon color="danger" role="alert"><%= get_flash(@conn, :error) %></.alert>
  <%= @inner_content %>
</main>
