<main>
  <.alert
    with_icon
    color="info"
    role="alert"
    close_button_properties={["phx-click": "lv:clear-flash", "phx-value-key": "info"]}
  >
    <%= live_flash(@flash, :info) %>
  </.alert>

  <.alert
    with_icon
    color="danger"
    role="alert"
    close_button_properties={["phx-click": "lv:clear-flash", "phx-value-key": "error"]}
  >
    <%= live_flash(@flash, :error) %>
  </.alert>

  <%= @inner_content %>
</main>
